/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button {
    -fx-text-fill: #FFE2E2;
    -fx-background-color: #FF5757;
    /*-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );*/
}

.button:hover {
    -fx-text-fill: #FF5757;
    -fx-background-color: #FFE2E2;
}

.label {
    -fx-text-fill: #ff8989;
}
.listview {
    
}